blinker==1.9.0
click==8.1.8
colorama==0.4.6
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
Werkzeug==3.1.3blinker==1.9.0
click==8.1.8
colorama==0.4.6
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
msvc_runtime==14.42.34433
numpy==2.2.4
opencv-python==4.11.0.86
robotpy-apriltag==2025.3.2.0
robotpy-wpimath==2025.3.2.0
robotpy-wpiutil==2025.3.2.0
Werkzeug==3.1.3
